table {
    table-layout: fixed;
    text-align: center;
}

table, tr, td {
    white-space: nowrap;
    border-collapse: collapse;
    border: 1px solid #000000;
    padding: 0;
}

table tbody tr.row-selected {
    background-color: #ece496;
}

table td.col-selected {
    background-color: #ece496;
}

tr div.head {
    min-width: 18px;
    max-width: 18px;
}